.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box{
    height: 55px;
    width: 55px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}